@media (min-width: 1000px) {
    
}
@media (min-width: 350px) {
   
    .pokemon-list {
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background: linear-gradient( #ff2e2e 50%, #0045ff 50% );
        
    }
    
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}