@media (min-width: 450px) {
    .pokemon-list {
        padding: 8rem 6rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pokemon-list:nth-of-type(odd) {
        background-color: #0045ff;
    }
    .pokemon-list:nth-of-type(even) {
        background-color: #ff2e2e;
    }
}