@media (min-width: 450px) {
    .pokemon-list a {
        width: 33%;
        display: block;
        color: #000;
        margin-top: 3rem;
    }
    .pokemon-list {
        padding: 3rem 6rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background: linear-gradient( #ff2e2e 50%, #0045ff 50% );
        
    }
    
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}