

@media (min-width: 450px) {
    .welcome-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
    }
    .heading {
        font-weight: unset;
        font-size: 90px;
        margin-left: 13rem;
        line-height: 1em;
    }
    p.intro {
        width: 53%;
        font-family: 'Poppins';
        font-size: 24px;
    }
    p.description {
        font-size: 24px;
        font-weight: 500;
    }
}

